:root {
	--color-background-light: #cccccc;
	--color-background-dark: #121212;
	--color-background-secondary-light: #ffffff;
	--color-background-secondary-dark: #1d1d1d;
}

:root .light {
	--color-background: var(--color-background-light);
	--color-background-secondary: var(--color-background-secondary-light);
}

:root .dark {
	--color-background: var(--color-background-dark);
	--color-background-secondary: var(--color-background-secondary-dark);
}